/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {}

@media only screen and (min-width: 1024px) {}

@media only screen and (max-width: 1023px) {}

@media only screen and (min-width: 1400px) {}

@media only screen and (min-width: 1500px) {}

ul>li {
    margin-top: 0.25em;
}

.container.paddingTop {
    padding-top: 10px;
}

.container .gridBlock .blockContent h2 div p {
    font-weight: 300;
}

.container .gridBlock .blockContent p:not(h2 div p) {
    line-height: 1.7;
    font-size: 16px;
    color: #605f5e;
}

.projectTitle {
    color: #605f5e;
}

.homeSplashFade {
    background: whitesmoke;
    color: #605f5e;
}

.projectTitle small {
    font-style: italic;
}

.brand-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.brand {
    display: inline-block;
    margin: 10px;
}

.brand-link {
    margin: 1em auto;
    opacity: 0.4;
    transition: opacity 0.15s ease-in-out;
}

.brand-link:hover {
    opacity: 1;
}

.github-section {
    text-align: center;
}

.fixedHeaderContainer a:hover {
    color: white;
}

.projectLogo {
    opacity: 1;
}

.toc .toggleNav ul li.navListItemActive a,
.toc .toggleNav ul li a:focus,
.toc .toggleNav ul li a:hover {
    color: #393939;
}

article a,
article a:hover {
    text-decoration: underline;
}

table tr:nth-child(2n) {
    background-color: inherit;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
    padding: 5px;
}

pre .btnIcon {
    color: inherit;
}

code[class*='language-'], pre[class*='language-'] {
    border: 1px solid #b4b9bd;
}