/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {}

@media only screen and (min-width: 1024px) {}

@media only screen and (max-width: 1023px) {}

@media only screen and (min-width: 1400px) {}

@media only screen and (min-width: 1500px) {}

a {
    color: #2e8555;
    text-decoration: none;
}

a:hover {
    color: #2e8555;
    text-decoration: none;
}

ul>li {
    margin-top: 0.25em;
}